body, html {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  color: #212529;
}

code {
  font-family: 'Roboto', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
text-align: center;
}

.dek {
  font-weight: lighter;
  margin: 3px;
  text-align: center;
}

.byline {
  text-align: center;
}

.hide-scrollbar::-webkit-scrollbar {
 display: none;
}
